#footer {
    background-color: rgb(105, 161, 157);
    color: white;

    display: flex;
    justify-content: space-around;

    padding: 50px 50px;
}

#footer .column1 {
    display: flex;
    flex-direction: column;
}

#footer .column1 h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

#footer .column1 p {
    margin: 5px 0;
    cursor: pointer;
}

#footer .column1 p:hover {
    color: #ff4444;
}

#footer .column1 a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

#footer .column1 a:hover {
    color: #ff4444
}

#footer .icon {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 400px) {
    #footer {
        padding: 5px;
    }
}