/* Author: Trevor Goff
Date: Mar 11-Apr 19
Description: Styling to affect the body of the robots page. */

#robot {
    display: flex;
    flex-direction: column;
}

.subsystem {
    padding: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark {
    background-color: lightgray;
}

.subsystem img {
    max-width: 40vw;
}

.context {
    text-align: center;
    align-content: center;
}

@media screen and (max-width: 600px) {
    .subsystem {
        flex-direction: column;
    }

    .subsystem img {
        margin: auto;
    }
}