body {
    text-align: center;
}

/* container */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

/* canvas */
#animationCanvas {
    background-color: black;
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/* text */
.game-text {
    max-width: 300px;
    font-size: 18px;
    text-align: left;
}

/* ---------- RESPONSIVE PART ---------- */
/* when screen smaller */
@media (max-width: 900px) {
    .game-container {
        flex-direction: column;
    }

    .game-text {
        text-align: center;
    }
}