* {
    box-sizing: border-box;
}

h1 {
    color: #961B41;
}

.section>h3 {
    color: #0066B3;
}

select {
    cursor: pointer;
}

input {
    accent-color: #961B41;
    cursor: pointer;
}

input[type=number] {
    appearance: textfield;
}

.number-arrowless::-webkit-outer-spin-button,
.number-arrowless::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 2% 0;
}

.section {
    margin-bottom: 16px;
}

.grid {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 4px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#details {
    width: 100%;
    height: 150px;
}

button {
    padding: 8px 12px;
    background-color: #961B41;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container {
        width: auto;
        padding: 2% 10%;
    }
}